@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:wght@100;400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    font-family: Inter, sans-serif;
}

.navlinks{
    font-size: 13px;

}

.gradient-bg {
    background: linear-gradient(to bottom, #FFFFFF 31%, #B1CBFF);
  }

  .h-screen {
    height: 89vh;
  }

  .px-9em{
    padding-inline: 9em;
  }


::-webkit-scrollbar{
    display: none;
}